<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header><h1>Enquete</h1></header>
    <form action="/send" method="POST">
      <fieldset>
        <legend>Student</legend>
        <label for="studentName">Naam:</label>
        <input type="text" name="" id="studentName" required><br />
        <label for="studentID">Studentnummer:</label>
        <input type="number" name="" id="studentID" required>
    </fieldset>
    <fieldset>
        <legend>Vakken</legend>
        <fieldset>
       <h2>Web App From Scratch</h2>
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />
            
            <p>In welke weken van de minor had je het vak?</p>
            <input type="radio" name="weken1" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken1" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken1" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken1" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />

            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
        <fieldset>
            <h2>CSS To The Rescue</h2>
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />

            <p>In welke weken van de minor had je het vak?</p>
            <input type="radio" name="weken2" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken2" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken2" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken2" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />

            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
       
        <fieldset>
            <h2>Human Centered Design</h2>
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />

            <p>In welke weken van de minor had je het vak?</p>
            <input type="radio" name="weken6" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken6" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken6" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken6" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />

            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
        <fieldset>
          <h2>Realtime Web</h2>
  
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />

            <p>In welke weken van de minor had je het vak?</p>
            <input type="radio" name="weken3" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken3" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken3" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken3" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />
  
            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
        <fieldset>
            <h2>Progressive Web Apps</h2>
            <p>In welke weken van de minor had je het vak?</p>
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />
            <input type="radio" name="weken4" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken4" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken4" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken4" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />
            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
        <fieldset>
            <h2>Browser Technologies</h2>
            <label for="teacherName">Naam van docenten:</label>
            <input type="text" name="" id="teacherName" required><br />

            <p>In welke weken van de minor had je het vak?</p>
            <input type="radio" name="weken5" id="week1-3" value="1-3">
            <label for="week1-3">weken 1-3</label><br />
            <input type="radio" name="weken5" id="week4-6" value="4-6">
            <label for="week4-6">weken 4-6</label><br />
            <input type="radio" name="weken5" id="week7-9" value="7-9">
            <label for="week7-9">weken 7-9</label><br />
            <input type="radio" name="weken5" id="week10-12" value="10-12">
            <label for="week10-12">weken 10-12</label><br />
            
            <label for="material">Hoe moeilijk vond je de lesstof?</label>
            <input type="number" min="1" max="10" name="" id="material" placeholder="1-10" required><br />
            <label for="explanation">Hoe duidelijk was de uitleg?</label>
            <input type="number" min="1" max="10" name="" id="explanation" placeholder="1-10" required><br />
            <label for="understanding">Hoe goed snap je het?</label>
            <input type="number" min="1" max="10" name="" id="understanding" placeholder="1-10" required>
        </fieldset>
    </form>
    <button type="submit">Verstuur</button>
  </body>
</html>
