<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>
  <body>
    <header>
      <a href="/">
        <h1>Antwoorden</h1>
      </a>
    </header>
    <section>
      <% data.forEach(function(item){ %>
      <article>
        <a href="detail/<%-item._id %>">
          <p>ID: <%- item.studentID %></p>
        </a>
      </article>
      <% }) %>
    </section>
  </body>
</html>
