body {
  background-color: lightblue;
}

fieldset {
  border: none;
  background-color: lightcyan;
}

button {
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #4caf50;
  margin: 1em;
  cursor: pointer;
}
